@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-subrayada {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}